<%- include('../partials/header') %>
<div id="bg">
<img src="https://i.imgur.com/E75DxUO.jpg">
</div>
<div class="container">
    <div class="black-box">
    <h2>Herb Dictionary</h2>
    <h5>Login to save your herbs and remedies!</h5>
    <form action="/auth/google">
    <input type="submit" value="Login" class="waves-effect waves-light btn-small">
</form>
    </div>
</div>
</body>
</html>